# Saving anemos lambert projection coordinates

Anemos send us Lambert Projection coordinates of the `x,y` of the `.nc` files. This helps to transform a given `lon(x,y), lat(x,y)` multidimensional coordinate to the `x,y`-Dimensions of the give netCDF datastructure.

In [1]:
x = [-369000, -366000, -363000, -360000, -357000, -354000, -351000, -348000, 
    -345000, -342000, -339000, -336000, -333000, -330000, -327000, -324000, 
    -321000, -318000, -315000, -312000, -309000, -306000, -303000, -300000, 
    -297000, -294000, -291000, -288000, -285000, -282000, -279000, -276000, 
    -273000, -270000, -267000, -264000, -261000, -258000, -255000, -252000, 
    -249000, -246000, -243000, -240000, -237000, -234000, -231000, -228000, 
    -225000, -222000, -219000, -216000, -213000, -210000, -207000, -204000, 
    -201000, -198000, -195000, -192000, -189000, -186000, -183000, -180000, 
    -177000, -174000, -171000, -168000, -165000, -162000, -159000, -156000, 
    -153000, -150000, -147000, -144000, -141000, -138000, -135000, -132000, 
    -129000, -126000, -123000, -120000, -117000, -114000, -111000, -108000, 
    -105000, -102000, -99000, -96000, -93000, -90000, -87000, -84000, -81000, 
    -78000, -75000, -72000, -69000, -66000, -63000, -60000, -57000, -54000, 
    -51000, -48000, -45000, -42000, -39000, -36000, -33000, -30000, -27000, 
    -24000, -21000, -18000, -15000, -12000, -9000, -6000, -3000, 0, 3000, 
    6000, 9000, 12000, 15000, 18000, 21000, 24000, 27000, 30000, 33000, 
    36000, 39000, 42000, 45000, 48000, 51000, 54000, 57000, 60000, 63000, 
    66000, 69000, 72000, 75000, 78000, 81000, 84000, 87000, 90000, 93000, 
    96000, 99000, 102000, 105000, 108000, 111000, 114000, 117000, 120000, 
    123000, 126000, 129000, 132000, 135000, 138000, 141000, 144000, 147000, 
    150000, 153000, 156000, 159000, 162000, 165000, 168000, 171000, 174000, 
    177000, 180000, 183000, 186000, 189000, 192000, 195000, 198000, 201000, 
    204000, 207000, 210000, 213000, 216000, 219000, 222000, 225000, 228000, 
    231000, 234000, 237000, 240000, 243000, 246000, 249000, 252000, 255000, 
    258000, 261000, 264000, 267000, 270000, 273000, 276000, 279000, 282000, 
    285000, 288000, 291000, 294000, 297000, 300000, 303000]

y = [-408000, -405000, -402000, -399000, -396000, -393000, -390000, -387000, 
    -384000, -381000, -378000, -375000, -372000, -369000, -366000, -363000, 
    -360000, -357000, -354000, -351000, -348000, -345000, -342000, -339000, 
    -336000, -333000, -330000, -327000, -324000, -321000, -318000, -315000, 
    -312000, -309000, -306000, -303000, -300000, -297000, -294000, -291000, 
    -288000, -285000, -282000, -279000, -276000, -273000, -270000, -267000, 
    -264000, -261000, -258000, -255000, -252000, -249000, -246000, -243000, 
    -240000, -237000, -234000, -231000, -228000, -225000, -222000, -219000, 
    -216000, -213000, -210000, -207000, -204000, -201000, -198000, -195000, 
    -192000, -189000, -186000, -183000, -180000, -177000, -174000, -171000, 
    -168000, -165000, -162000, -159000, -156000, -153000, -150000, -147000, 
    -144000, -141000, -138000, -135000, -132000, -129000, -126000, -123000, 
    -120000, -117000, -114000, -111000, -108000, -105000, -102000, -99000, 
    -96000, -93000, -90000, -87000, -84000, -81000, -78000, -75000, -72000, 
    -69000, -66000, -63000, -60000, -57000, -54000, -51000, -48000, -45000, 
    -42000, -39000, -36000, -33000, -30000, -27000, -24000, -21000, -18000, 
    -15000, -12000, -9000, -6000, -3000, 0, 3000, 6000, 9000, 12000, 15000, 
    18000, 21000, 24000, 27000, 30000, 33000, 36000, 39000, 42000, 45000, 
    48000, 51000, 54000, 57000, 60000, 63000, 66000, 69000, 72000, 75000, 
    78000, 81000, 84000, 87000, 90000, 93000, 96000, 99000, 102000, 105000, 
    108000, 111000, 114000, 117000, 120000, 123000, 126000, 129000, 132000, 
    135000, 138000, 141000, 144000, 147000, 150000, 153000, 156000, 159000, 
    162000, 165000, 168000, 171000, 174000, 177000, 180000, 183000, 186000, 
    189000, 192000, 195000, 198000, 201000, 204000, 207000, 210000, 213000, 
    216000, 219000, 222000, 225000, 228000, 231000, 234000, 237000, 240000, 
    243000, 246000, 249000, 252000, 255000, 258000, 261000, 264000, 267000, 
    270000, 273000, 276000, 279000, 282000, 285000, 288000, 291000, 294000, 
    297000, 300000, 303000, 306000, 309000, 312000, 315000, 318000, 321000, 
    324000, 327000, 330000, 333000, 336000, 339000, 342000, 345000, 348000, 
    351000, 354000, 357000, 360000, 363000, 366000, 369000, 372000, 375000, 
    378000, 381000, 384000, 387000, 390000, 393000, 396000, 399000, 402000, 
    405000, 408000, 411000, 414000, 417000, 420000, 423000, 426000, 429000, 
    432000, 435000, 438000, 441000, 444000, 447000, 450000, 453000, 456000, 
    459000, 462000, 465000, 468000, 471000, 474000, 477000, 480000, 483000, 
    486000, 489000, 492000, 495000, 498000, 501000, 504000, 507000, 510000, 
    513000, 516000, 519000]

# Saving the `x,y` values to a `.csv`-file

In [8]:
import pandas as pd

# Add Labels to the coordinate data
y_data = {
    "y": y
}
x_data = {
    "x": x
}

# Put the labled Data inside a Pandas Dataframe
y_df = pd.DataFrame(y_data)
x_df = pd.DataFrame(x_data)
xy_df = pd.concat([x_df,y_df], axis=1)

# Export the coordinate data to a .csv File
path = "xy_lamber_projection_values"
xy_df.to_csv(path_or_buf=path, index=False)

In [9]:
test_load = pd.read_csv(path)

test_load

            x       y
0   -369000.0 -408000
1   -366000.0 -405000
2   -363000.0 -402000
3   -360000.0 -399000
4   -357000.0 -396000
..        ...     ...
305       NaN  507000
306       NaN  510000
307       NaN  513000
308       NaN  516000
309       NaN  519000

[310 rows x 2 columns]